/*CSS reset*/
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*CSS Veriables*/
:root{
    --navber-height:59px;
}
/*Navigation Bar*/
#navber{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navber::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left:0px;
    height: 95%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
/*Navigation Bar:Logo and Image*/
#logo{
     margin:5px 28px;
}
#logo img{
    height: 57px;
    margin: 3px 5px;
}
/*Navigation Bar:List Styling*/
/* #navber{
    position: relative;
} */
#navber ul{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

#navber ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navber ul li a{
    color: white;
    display: block;
    padding: 3px 13px;
    border-radius: 20px;
    text-decoration: none;
}
#navber ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 350px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('bg1.jpg') no-repeat center center/cover ;
    position: absolute;
    height: 70%;
    top:0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}
#home h1{
    color: white;
    text-shadow: 3px 3px 3px rgb(180, 172, 172);
    text-align: center;
    font-family: 'Lobster', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}
/*Servics Section*/
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    border-radius: 23px;
    background-color: rgb(211, 192, 192);
    padding: 34px;
    margin: 3px 10px;
    box-shadow: 5px 5px 5px #6f2828;
}
#services .box img{
    height: 100px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'Ubuntu', sans-serif;   
}

/*Clients Section*/
#client-section{
      height: 344px;
}
#client-section::before{
    content: "";
    background:url('bg.jpg');
    position: absolute;
    height: 56%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#clients img{
    height: 78px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px ;
}
/*Contact Section*/
#contact{
    position: relative;
}
#contact::before{
    content: "";
    background:url('contact.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
#contact-box button{
    display: block;
    margin: auto;
    background-color: rgb(253, 253, 253);
    color: black;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 22px;
    padding: 3px 20px;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Class */
.h-primary{
    font-size: 3.5rem;
    padding: 12px;
    color: rgb(6, 7, 7);
    font-family:'Ubuntu', sans-serif ;
    text-shadow: 3px 3px 3px rgb(112, 102, 102);
}
.h-secondary{
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'Ubuntu', sans-serif;
}
.btn{
    padding: 3px 20px;
    border: 4px solid white;
    background-color: aqua;
    color: black;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 30px;
    cursor: pointer;
}
.center{
    text-align: center;
}